    body {
        min-width: 360px;
        margin: 0px;
        padding: 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
    }
    
    h5 {
        font-weight: 600;
    }
    
    svg {
        width: 22px;
        height: 22px;
    }
    
    .navbar navbar-light {
        width: 70%;
        align-items: center;
        display: block;
        justify-content: space-around;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
    }
    
    button {
        border: none;
        background: none;
    }
    
    a {
        color: black;
    }
    
    .form-control-sm {
        border: 1px solid #DBDBDB;
        border-radius: 3px;
        background: #FAFAFA;
        text-align: center;
    }
    
    .bg-secondary {
        background-color: #DC565B!important
    }
    
    .badge {
        position: absolute;
        margin-left: -1%;
        padding: 2px 6px;
        border-radius: 4.25rem;
    }
    
    .icon {
        position: absolute;
        background-repeat: no-repeat;
        text-align: center;
        margin-left: 50px;
        margin-top: 3px;
    }
    
    .info {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 35px;
    }
    
    .info_name {
        width: 250px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
        align-items: center;
    }
    
    .info_name h5 {
        margin-top: 7px;
    }
    
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .card-body {
        padding-left: 3px;
    }
    
    .avatarka {
        margin-top: 10%;
        margin-left: 20%;
        display: flex;
        align-items: center;
    }
    
    @media (max-width:720px) {
        .avatarka {
            margin-left: 0px;
        }
    }
    
    .btn-primary {
        background: #4094EF;
        width: 97px;
        height: 29px;
        border-radius: 3px;
        text-align: center;
        padding: 0;
    }
    
    .dropdown .btn {
        width: 33px;
        height: 29px;
        padding: 0;
        border-radius: 3px;
        background-color: #4094EF;
        align-items: center;
    }
    
    .dropdown-toggle::after {
        content: "";
        margin-left: 0.1em;
    }
    
    .info_people {
        width: 350px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 21px;
    }
    
    .info_text {
        align-items: center;
    }
    
    .info_text a {
        color: #133768;
        font-weight: 600;
    }
    
    .info_text p {
        margin: 0px;
    }
    
    .card {
        border: none;
        margin-right: 42px;
    }
    
    .history {
        display: flex;
        margin-top: 56px;
        margin-left: 17%;
    }
    
    .card img {
        border: 1px solid rgba(155, 155, 155, 0.651);
        border-radius: 100%;
        padding: 2px;
    }
    
    .line {
        margin-top: 55px;
        height: 1px;
        background: #DBDBDB;
        margin-bottom: 19px;
        display: flex;
        justify-content: center;
    }
    
    .posts {
        border-top: 1px solid rgb(0, 0, 0);
        margin-right: 64px;
    }
    
    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 20px;
    }
    
    .link a {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.09em;
        color: #262626;
        text-decoration: none;
        padding-left: 10px;
    }
    
    .tagged>a {
        color: #8F8F8F;
    }
    
    .line1 {
        width: 100%;
        height: 1px;
        background: #DBDBDB;
        transform: matrix(1, 0, 0, -1, 0, 0);
        margin-bottom: 19px;
    }
    
    .line_post {
        position: absolute;
        left: 650px;
        align-items: center;
    }
    
    .p-3 {
        padding: 0px!important
    }
    
    .row-cols-2>* {
        width: 0px;
    }
    
    .element {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .photo {
        margin-top: 40px;
    }
    
    @media (max-width:1000px) {
        .col-4 {
            max-width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
    }
    
    @media (max-width:720px) {
        .col-4 {
            max-width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 20px;
        }
        .row {
            display: block;
        }
    }
    
    @media (max-width:720px) {
        .card-body {
            padding-left: 0px;
            padding-right: 0px;
        }
        .history {
            margin-left: 3%;
        }
        .nav {
            flex-wrap: nowrap;
        }
        .info_people {
            width: 290px;
        }
    }